baseURL = 'https://hamitabis.github.io/'
languageCode = 'tr-tr'
title = 'Security Enthusiast'
theme = 'maverick'

[menus]
  [[menus.main]]
    name = 'Anasayfa'
    pageRef = '/'
    weight = 10
  [[menus.main]]
    identifier = "posts"
    name = "Yazılar"
    url = "/posts/"
  [[menus.main]]
    identifier = "about"
    name = "Hakkımda"
    url = "/about/
    
[markup]
  [markup.goldmark.renderer]
    unsafe = true
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    noHl = false
    style = 'monokailight'
    tabWidth = 4
