*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
}

body {
    font: 1rem/1.5 "Jetbrains Mono", monospace;
    padding: 2rem;
    background: #1e1e1e;
    color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.back-button {
  background-color: #2e2e2e; /* sitenin background rengi */
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: 2px solid #3654ff;
  border-radius: 11px;
  text-align: left;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 0.8em;
  transition: all 0.4s ease;
}

.back-button:hover {
  background-color: #3654ff;
  color: #fff;
}

.back-button svg {
  width: 1.6em;
  height: 1.6em;
  margin-right: 0.6em;
  transition: all 0.4s ease;
}

.back-button:hover svg {
  transform: translateX(-5px);
}

.back-button .text {
  display: inline-block;
}


.text {
  margin: 0 0 0 2.2em;
  line-height: 2.9em;
  display: inline-block;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #eee;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;
}

header ul,
.tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header li,
header a,
.tags li {
    display: inline;
}

header ul a {
    padding-left: 1rem;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none !important;
    border: 0 !important;
    box-shadow: none !important;
    background-image: none !important;
}

.link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time {
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 5px solid #eee;
}

pre,
code {
    font-family: "San Francisco Mono", monospace;
    font-size: small;
    background: #eee;
}

pre {
    padding: .5rem;
    overflow-x: auto;
}

code {
    margin: .1rem;
    border: 0;
    overflow-wrap: anywhere;
}

ul,
ol {
    padding-left: 1.2rem;
}

ul {
    list-style-type: square;
}

.list {
    list-style: none;
    padding: 0;
    line-height: 2;
}

.list li {
    display: flex;
    align-items: baseline;
    padding-bottom: .1rem;
}

.list li time {
    flex: 0 1 auto;
}

.hr-list {
    flex: 1 0 1rem;
    height: 1px;
    margin: 0 .5rem;
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    max-width: 70ch;
    margin: 0 auto;
}

.avatar {
    float: right;
    width: 120px;
    height: 120px;
    margin: -10px 0 0 15px;
    border-radius: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f2f2f2;
}

.m,
hr {
    margin: 3rem 0;
    border: 0;
}

.post-date {
    margin: 5% 0;
}

.index-date {
    color: #9a9a9a;
}

h2.post {
    padding-top: .5rem;
}

.nav {
    height: 1px;
    max-width: 10%;
    background: #000;
}

.animate-blink {
    animation: blink-opacity 1s infinite;
}

@keyframes blink-opacity {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 0; }
}

.tags {
    display: flex;
    justify-content: space-between;
}
